body {
	margin: 0px;
	padding: 0px;
	background-color:lightgray
}
h1 {
	color:blue;
	text-align: center;
}
canvas {
	padding: 0;
	margin: auto;
	display: block;
	border: 1px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
